services:
    nginx-dev:
        container_name: nginx-dev
        ports:
            - '81:81'
        image: nginx:stable
        volumes:
            - ../nginx/nginx.dev.conf:/etc/nginx/conf.d/nginx.conf
        restart: always
        command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''

    frontend-dev:
        container_name: frontend-dev
        ports:
            - '5173:5173'
        build:
            context: ../frontend
            dockerfile: dockerfile.dev
        volumes:
            - ../frontend:/app
        restart: always

    backend-dev:
        container_name: backend-dev
        ports:
            - '3001:3000'
        build:
            context: ../backend
            dockerfile: dockerfile.dev
        volumes:
            - ../backend:/app
        restart: always
        depends_on:
            - db-dev
        environment:
            DB_HOST: db-dev
            DB_USER: root
            DB_PASSWORD: collection_db_1988
            DB_NAME: collection

    db-dev:
        container_name: db-dev
        ports:
            - '3306:3306'
        image: mariadb:latest
        volumes:
            - collection_data:/var/lib/mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: collection_db_1988
            MYSQL_DATABASE: collection

volumes:
    collection_data:

networks:
    default:
        name: ${NETWORK_NAME_DEV}
